*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Ubuntu";
}

svg {
  fill: #fff;
  width: 25px;
}

.icon-sm svg {
  width: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
}

.input-wrap label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #ccc;
}

input {
  width: 100%;
}

.input-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzZlNzY4MSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=")
    98% / 16px no-repeat;
}

.input-wrap input[type="range"] {
  padding: 0;
}

.input-wrap select,
input[type="number"],
input[type="text"],
input-form {
  height: 35px;
  padding: 0 20px;
  background-color: #08080a;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #ccc;
  border: 2px solid #555;
}

.btn-form {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.btn-left {
  justify-content: flex-end;
}

.btn-wrap {
  display: flex;
}

svg {
  fill: #ccc;
}

.panel-footer {
  height: 40px;
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.action-btn {
  background: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: all linear 100ms;
}

.color-block {
  width: 100px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 4px;
}

.action-btn svg {
  width: 18px;
  fill: #999;
}

.action-btn:hover {
  opacity: 0.5;
}

.object-lock svg {
  width: 15px;
}

.object-lock svg,
.object-eye svg {
  fill: #888;
}

.tab svg {
  width: 18px !important;
}

.tablist {
  display: flex;
  position: relative;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  background-color: #08080a;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}

.activeTab {
  border: 1px solid #444;
  border-bottom: none;
  position: relative;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #111;
}

.activeTab:after {
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 1px;
  background-color: #111;
  content: "";
}

.main {
  border: 1px solid #444;
  flex: 1;
  overflow: auto;
  border-top-right-radius: 4px;
}

#tab-name {
  margin-left: 10px;
}

/* scrollbar */

::-webkit-scrollbar {
  height: 10px;
  overflow: visible;
  width: 10px;
  border-radius: 10px;
  background-color: #000;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 1px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

.item {
  margin-bottom: 10px;
  position: relative;
  display: block;
}
.item-name {
  margin-bottom: 5px;
  font-size: 14px;
  color: #ccc;
}

.btn {
  background-color: #08080a;
  display: flex;
  border: none;
  outline: none;
  color: #ccc;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0 1px 4px #000;
  cursor: pointer;
  border: 1px solid #333;
  min-width: 100px;
  height: 35px;
  justify-content: center;
  align-items: center;
}
.btn span {
  font-size: 14px;
  margin-right: 10px;
}
.btn svg {
  width: 20px;
}

.btn:hover {
  opacity: 0.7;
}
