input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  border-radius: 10px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #777;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  border-radius: 4px;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 12px;
  border-radius: 5px;
  background: #256141;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #333;
}
